#container-curiosidades {
    margin-top: 90px;
    margin: auto;
}

#container-curiosidades .txt-curiosidade {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: auto;
    margin-top: 190px;
    margin-bottom: 20px;
}

.txt-curiosidade h2 {
    font-size: 1.5em;
}

.txt-curiosidade span {
    font-size: 0.8em;
}

.produto-curiosidade {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    align-content: center;
    margin-top: 50px;
}

#pizza-sushi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-areas: 
    "img-produto-curiosidade txt-produto-curiosidade";
    grid-area: pizza-sushi;
    text-align: center;
}

#pizza-sushi .txt-produto-curiosidade {
    width: 800px;
    font-size: 1.3em;
    padding-left: 30px;
}

#pizza-sushi h2 {
    font-size: 2em;
}

#pizza-cone {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-areas: 
    "txt-produto-curiosidade img-produto-curiosidade";
    grid-area: pizza-cone;
    text-align: center;
}

#pizza-cone .txt-produto-curiosidade {
    width: 800px;
    font-size: 1.3em;
    padding-right: 30px;
}

#pizza-cone h2 {
    font-size: 2em;
}

#pizza-chiclete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-areas: 
    "img-produto-curiosidade txt-produto-curiosidade";
    grid-area: pizza-chiclete;
    text-align: center;
}

#pizza-chiclete .txt-produto-curiosidade {
    width: 800px;
    font-size: 1.3em;
    padding-left: 30px;
}

#pizza-chiclete h2 {
    font-size: 2em;
}

.img-produto-curiosidade {
    grid-area: img-produto-curiosidade;
}

.txt-produto-curiosidade {
    grid-area: txt-produto-curiosidade;
    text-align: center;
    padding-top: 130px;
}

.txt-produto-curiosidade h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3em;
}
