/* página nossas lojas */
#container-lojas {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

#container-lojas .txt-lojas {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: auto;
    margin-top: 70px;
}

.txt-lojas h2 {
    font-size: 1.3em;
}

.txt-lojas span {
    font-size: 0.8em;
}

.local-lojas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: auto;
}

.card-loja {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 525px;
    border: 1px solid #6e0101;
    margin: 20px;
    background-color: #f0f0f0;
}

.img-loja {
    height: 240px;
}

.img-loja img {
    width: 100%;
}

.nome-loja {
    line-height: 70px;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
}

.endereco-loja {
    line-height: 70px;
    font-size: 1.6em;
    color: rgb(121, 112, 112);
    text-align: center;
}

.tel-loja {
    line-height: 70px;
    font-size: 1.4em;
    color: rgb(94, 88, 88);
    text-align: center;
}

.btn-mapa {
    line-height: 70px;
    background-color: #6e0101;
    text-align: center;
    padding-top: 20px;
}

.btn-mapa a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}
